html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&700&display=swap");

html {
  font-size: 62.5%;
}

body .scroll {
  overflow: hidden;
}

:root {
  /* COLORS */
  --color-blue-500: #00c8ff;

  --color-white-500: #ffffff;
  --color-white-300: #f0f0f0;
  --color-white-200: #e5e5e5;

  -color-gray: #b9b7b7;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #c4c4c4;
  --color-gray-500: #585858;
  --color-gray-600: #7d7d7d;

  --color-black-400: #292929;
  --color-black-500: #303030;
  --color-black-600: #110d0f;
  --color-black-700: #100d0e;
  --color-black-800: #000000;

  --color-red-500: #c70039;

  /*FONTS*/
  --main-font: "Roboto";
}
